
body {
    height: 100vh;
}
/* Provide sufficient contrast against white background */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a {
    color: #0366d6;
}

li {
    list-style: none;
}

.center-element {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.validation-summary-errors > ul {
    padding-inline-start: 0 !important;
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
}
/* Sticky styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

#major:focus {
    box-shadow: none;
}

.form__upload-btn {
    position: relative;
    background-color: #86172f;
    padding: 8px 30px;
    max-width: max-content;
    cursor: pointer;
    overflow: hidden;
}

    .form__upload-btn > input[type=file] {
        position: absolute;
        transform: scale(2);
        opacity: 0;
    }

        .form__upload-btn > input[type=file],
        .form__upload-btn > input[type=file]::-webkit-file-upload-button {
            cursor: pointer;
        }
/*loader-process*/
.loader-process {
    width: 85px;
    height: 85px;
    border: 5px solid black;
    border-left-color: transparent;
    border-right-color: transparent;
    border-radius: 50%;
    animation: loader-process 1.8s linear infinite;
}

@keyframes loader-process {
    to {
        transform: rotate(360deg);
    }
}

.loading-text {
    position: absolute;
    top: 30px;
    left: 10px;
    text-transform: uppercase;
}
