<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Aide</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Sidebar.css" />
    <link rel="stylesheet" href="~/css//Header.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>

    <header class="header w-100">
        <div class="container-fluid h-100">
            <div class="d-flex h-100">
                <div class="col-lg-6 col-md-9 col-sm-10 px-0">
                    <div class="navbar p-0 navbar-expand h-100">
                        <div style="width: max-content">
                            <img src="/images/ASU-Logo.png" height="60" class="w-100" />
                        </div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <ul class="navbar-nav flex-row">
                                <li class="mx-lg-auto mx-md-3 mx-sm-3">
                                    <a class="nav-link text-white" asp-controller="Home" asp-action="Index">
                                        Home
                                    </a>
                                </li>
                                <li class="mx-lg-auto mx-md-3 mx-sm-3 d-lg-block d-md-none d-sm-none">
                                    <a class="nav-link text-white" asp-controller="Plans" asp-action="UploadFile" asp-route-planType="TreePlan">
                                        Upload Tree Plane
                                    </a>
                                </li>
                                <li class="mx-lg-auto mx-md-3 mx-sm-3 d-lg-block d-md-none d-sm-none">
                                    <a class="nav-link text-white" asp-controller="Plans" asp-action="UploadFile" asp-route-planType="StudyPlan">
                                        Upload Study Plane
                                    </a>
                                </li>
                            </ul>
                        }
                    </div>
                </div>

                @if (ViewBag.MajorsName is not null)
                {
                    <partial name="_DeletWorningPartial" />
                    <div class="col-lg-6 col-md-3 col-sm-2 px-0 h-100">
                        <partial name="_SidebarPartial" />
                        <ul class="navbar justify-content-end">
                            <li class="nav-item">
                                <a href="#" class="js-menu-toggle nav-link text-white" role="button" aria-expanded="false">
                                    <i class="bi bi-list" style="font-size: 25px"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </div>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        if (`@(((string)TempData["Message"])?.Any() ?? false)` === "True") {
            $(".toast").toast('show');
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
