<div class="position-relative d-none" id="loader-container">
    <div class="position-absolute w-100 h-100" style="left: 0; z-index: 2000;">
        <div class="card mx-auto mt-4" style="width: 20rem;">
            <div class="card-body w-100">
                <div class="mx-auto position-relative mb-4" style="width: max-content">
                    <div class="loader-process"></div>
                    <span class="loading-text">Loading</span>
                </div>
                <span>Please wait until the process end, It will take a few minutes.</span>
            </div>
        </div>
    </div>
</div>