<div class="position-relative d-none" id="progress-bar-container">
    <div class="position-absolute w-100 h-100" style="left: 0; z-index: 2000;">
        <div class="card" style="width: 20rem;">
            <div class="card-body w-100">
                <div class="progress">
                    <div class="progress-bar">
                        <div class="fill"></div>
                    </div>
                </div>
                <span>Progress</span>
                <span class="progress-value">0%</span>
            </div>
        </div>
    </div>
</div>