@{
    ViewData["Title"] = "Error";
}

<div class="container py-4">
    <div class="alert alert-danger shadow-sm">
        <h5>Error Message</h5>
        <hr />
        <p style="font-size: 1.3rem; font-family: fangsong;"><i class="bi bi-exclamation-circle mr-2"></i> @ViewBag.ExceptionMessage</p>
    </div>
</div>
