@if (ViewBag.Response is not null)
{
    <div>
        @foreach (var item in ViewBag.Response)
        {
            <ol>
                <li>
                    Folder Id: @item.Id
                </li>
                <li>
                   Folder Name: @item.Name
                </li>
            </ol>
        }

    </div>
}