@model UplodPlanFile

@{
    ViewData["Title"] = "UplodFile";
}

<section class="w-100 bg-img position-relative" style="min-height: calc(100vh - 75px); background-image: url(/images/ASU.jpeg);">
    <div style="top: 0; left: 0; background-color: rgba(0, 0, 0, 0.5); z-index: 1;"
         class="position-absolute h-100 w-100"></div>

    <div class="d-flex justify-content-center align-items-center" style="min-height: inherit">
        <div class="card rounded-lg border-0" style="width: 25rem; z-index: 1000">
            <div class="card-body">
                <form asp-action="UplodFile" method="post" class="form" enctype="multipart/form-data">

                    <div asp-validation-summary="All" class="text-danger error-alert"></div>

                    <div class="col-sm-12">
                        <div id="major-name" class="form-group">
                            <label asp-for="MajorName"></label>
                            <select asp-for="MajorName" class="form-control">
                                @foreach (var major in (string[])ViewBag.MajorsName)
                                {
                                    string majorName = System.IO.Path.GetFileName(major);
                                    <option value="@majorName">@majorName</option>
                                }
                            </select>
                        </div>

                        <div id="new-major-name" class="form-group d-none">
                            <label asp-for="NewMajorName"></label>
                            <input asp-for="NewMajorName" class="form-control">
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label asp-for="PlanSemester"></label>
                            <input asp-for="PlanSemester" class="form-control" />
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <input type="checkbox" onchange="viewAddMajorNameTextfiled()" asp-for="IsActive" />
                            <label>
                                Add Major Name
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form__upload-btn rounded-pill mx-auto mb-1">
                            <input class="form__input" asp-for="PlanFile" id="upload-data-sheet-input" />
                            <span class="form__text" style="color:#fff">Upload Plane File</span>
                        </div>
                        <div class="text-center text-muted" id="data-sheet-path">No file upload yet</div>
                    </div>

                    <div class="form-group text-center">
                        <input type="submit" value="Initiate The Process"
                               class="btn btn-dark rounded-pill px-3 py-2" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

<script>
    function viewAddMajorNameTextfiled() {
        $("#new-major-name").toggleClass("d-none");
        $("#major-name").toggleClass("d-none");
    }

    if ($("input[type='checkbox']").attr("checked")) {
        $("#new-major-name").toggleClass("d-none");
        $("#major-name").toggleClass("d-none");
    }
</script>
}
